<%- include('./includes/header.ejs') %>

<div class="container mb-5">
    <a href="/admin" class="btn btn-outline-success mt-5">Back</a>
    <a href="/create" class="btn btn-success mt-5 float-end">Add New Book</a>
    <h2 class="text-center alert alert-success mt-3">List of books</h2>
    <div class="d-flex mb-4">
        <input class="form-control me-2" id="searchInput" type="text" placeholder="Search by Name, Code, Author" aria-label="Search">
        <button class="btn btn-outline-success" id="searchBtn">Search</button>
    </div>

    <div id="booksTable">
        <% if(bookdata.length >= 1 ){ %>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Code</th>
                    <th scope="col">Author</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <% var i=1 %>
                <% bookdata.forEach((item)=>{ %>
                    <tr>
                        <td><%= i++ %></td>
                        <td><%= item.book_name %></td>
                        <td><%= item.code %></td>
                        <td><%= item.book_author %></td>
                        <td><%= item.status %></td>
                        <td>
                            <a class="btn btn-primary" href="/edit/<%= item.id %>">Update</a>
                            <a class="btn btn-danger" href="/delete/<%= item.id %>">Delete</a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        <% }else{%>
            <h4 class="text-center pt-5">No data found</h4>
        <% } %>
    </div>
</div>

<script>
   
    document.getElementById('searchBtn').addEventListener('click', function() {
        const searchQuery = document.getElementById('searchInput').value;

        fetch(`/search?query=${searchQuery}`)
            .then(response => response.json())
            .then(data => {
                let tableContent = '';

                if (data.length > 0) {
                    tableContent += `
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Code</th>
                                    <th scope="col">Author</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                    `;
                    data.forEach((item, index) => {
                        let actions = '';
                         if(item.status == 'Available' || item.status == 'Rejected' || item.status == 'Return' ) { 
                            actions = `<a class="btn btn-primary" href="/action/Requested/= item.id ">request</a>`;
                             }else if(item.status == 'Accepted'){
                                actions = `
                                    <a class="btn btn-secondary" href="/action/Return/${item._id}">return</a>
                                    <a class="btn btn-danger" href="/action/Available/${item._id}">cancel</a>`;
                             }else if(item.status == "Requested"){
                                actions = `<a class="btn btn-danger" href="/action/Available/= item.id ">cancle</a>`;
                            }else{
                               actions = `<a class="btn btn-primary" href="/action/Requested/= item.id ">request</a>
                                <a class="btn btn-danger" href="/action/Available/= item.id ">cancle</a>`;
                            }

                        tableContent += `
                            <tr>
                                <td>${index + 1}</td>
                                <td>${item.book_name}</td>
                                <td>${item.code}</td>
                                <td>${item.book_author}</td>
                                <td>${item.status}</td>
                                <td>
                                    <a class="btn btn-primary" href="/edit/${item.id}">Update</a>
                                    <a class="btn btn-danger" href="/delete/${item.id}">Delete</a>
                                </td>
                            </tr>
                        `;
                    });
                    tableContent += `</tbody></table>`;
                } else {
                    tableContent = '<h4 class="text-center pt-5">No data found</h4>';
                }
                document.getElementById('booksTable').innerHTML = tableContent;
            })
            .catch(error => console.error('Error:', error));
    });
</script>

<%- include('./includes/footer.ejs') %>
